<html lang="en">

<head>
    <meta charset="utf-8" />

    <title>
        {% block title %}{% endblock %}
    </title>

    <link href="{{ base_url }}/css/bootstrap.css" rel="stylesheet" />
    <link href="{{ base_url }}/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="theme-light">
    <div class="page">
        {% include "layouts/partials/header.twig" %}
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="page-header d-print-none">
                    {% block header %}{% endblock %}
                </div>
            </div>
            <div class="page-body">
                <div class="container-fluid">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script>
        let baseURL = "{{ base_url () }}";
    </script>
    <script src="{{ base_url ('/vendor/jquery/jquery-3.6.0.min.js')}}"></script>
    <script src="{{ base_url ('/js/bootstrap.bundle.js') }}"></script>
    {{ block("scripts") }}
</body>

</html>