{% extends 'layouts/insta-app.twig' %}

{% block title %}
Home
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

{% include "modals/detail-post.twig" %}
{% include "modals/form-upload.twig" %}
<main>
  <section class="container" style="background: white">
    <div class="row" style="padding:18px 0px">
      <div class="col-md-2">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image" alt="Profile Picture" width="120px"
          class="img-thumbnail rounded-circle">
      </div>
      <div class="col-md-8">
        <h4 class="fw-light">@{{ session.user.username ?? '-' }}</h4>
        <p class="lead text-muted">{{ session.user.name ?? '-' }}</p>
        <p><span id="total-post">0</span> Post</p>
        <button style="background-color:transparent;border:none;color:blue" data-toggle="modal" data-target="#addNewPost">
          <i class="fas fa-plus"></i> Add New Post</button>
      </div>
      
      <div class="col-md-2">
        <a href="{{ base_url ('/auth/logout') }}" style="background-color:transparent;border:none;"><small style="color: blue;">Logout</small></a>
      </div>
    </div>
    <hr>
    
    <div class="row posts-container" style="padding:18px 0px">
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}
  <script>
    const username = '{{ session.user.username }}';
  </script>
	<script src="{{ base_url ('/js/modules/profile/upload-post.js')}}"></script>
{% endblock %}
